---
import LeaderBoard from "../components/leader-board/LeaderBoard";
import Market from "../components/market/Market.astro";
import RegisterSW from "../components/RegisterSW";
import Tiers from "../components/tiers/Tiers.astro";
import Profile from "../components/profile/Profile";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="manifest" href="/manifest.json" />
		<title>Galactic Fishing Game</title>
		<meta
			name="description"
			content="Application that shows the ranking of a game"
		/>
		<meta name="theme-color" content="#" />

		<link rel="icon" href="/icon-64x64.png" sizes="64x64" />
	</head>
	<body class="p-4 bg-black/95 text-white flex flex-col items-center md:gap-8">
		<RegisterSW client:load />
		<h1 class="text-3xl font-bold text-center mb-6">
			🎣 Galactic Fishing Game
		</h1>
		<main class="flex flex-col gap-8 max-w-[1050px]">
			<article class="flex flex-col gap-8 md:flex-row md:justify-between">
				<Tiers />
				<Market />
			</article>
			<article
				class="grid grid-cols-1 gap-2 grid-rows-[0.3fr_1fr] md:grid-cols-[0.5fr_1fr] md:grid-rows-1"
			>
				<Profile client:load />
				<LeaderBoard client:load />
			</article>
		</main>
	</body>
</html>
